<!DOCTYPE html>
<html>
  <head>
  	<%= yield :title %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="backcolor-blue">
  	<header class="header header-default">
  		<div class="navbar navbar-expand-lg navbar-dark bg-dark">
  			<div class="container">
  				<nav>
  					<ul class="nav navbar-nav">
  						<li><h1>Quiz Master</h1></li>
  					</ul>
  				</nav>
  			</div>
  		</div>
  	</header>

    <div class="container">
      <div class="bs-docs-section">
        <div class="bs-component">
          <div class="jumbotron">
            <h1 class="display-3"><%= yield :greeting %></h1>
            <p class="lead"><%= yield :question %></p>
            <hr class="my-4">
            <form class="bs-component">
              <div class="form-group">
                <input class="form-control form-control-lg" placeholder="Your name here" id="inputLarge" type="text">
              </div>
            </form>
            <p><%= yield :description %></p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Start Quiz!</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <footer id="footer" class="card text-white bg-success text-right">
		  <div class="container">
		  	<div class="col-sm-12">
		    	<address>
		      	<strong>Copyright &copy Selvi Pebrina <span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong><br />
		        Jakarta, Indonesia <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br />
		        (+62) 87887321089 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
		        <strong><a href="mailto:#">selvipebrina@gmail.com </a></strong><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		    	</address>
		  	</div>
			</div>
		</footer>
  </body>
</html>
